<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %>></title>
  <link rel="icon" href="../images/icon.ico" type="image/x-icon" />
  <link rel=stylesheet type="text/css" href="../stylesheets/style.css">
  <script src="../javascripts/createjs.min.js"></script>
  <script src="../javascripts/jquery-3.2.0.min.js"></script>
</head>
<body>
<div id="background">
  <video src="../videos/background.mp4" type="video/mp4" autoplay="autoplay" muted="true" loop="true"></video>
</div>
<div id="block" class="center">
  <audio id="bgm" src="../audios/Magic-forest.mp3" type="audio/mpeg" autoplay="autoplay" loop="true"></audio>
  <img id="logo" src="../images/logo.png">
  <br>
  <input id="start" type="image" src="../images/start.png" height="10%" onclick="self.location.href='/tree'"/>
</div>
</body>
</html>